<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>讨论</title>
    <style>
        h1,form {text-align: center;}
        textarea {width:800px;height:200px;}
        div.post {
            border: 5px solid #888;
            padding: 20px 20px;
            margin: 20px 20%; }
        hr.postbound {width:50%;}
        em.date {color: #888;}
    </style>
</head>
<body>
<div class="box">
    <div id="context_div" class="card">
        <div id="show_div"></div>
        <div id="input_div">
            <textarea name="text" type="text" id="text"></textarea>
            <button>发送</button>
        </div>
    </div>
</div>


    <h1>test's forum</h1>
    <form action="" method=post>
        <div>
            <textarea name="content" id="content" cols="30" rows="10"></textarea>
        </div>
        <div>
            <button id="go" name="bt1" type="submit">Enter there to post in test's forum</button>
            <button id="del" name="bt2" type="submit">delete a slice of data from forum</button>
        </div>
    </form>

    <!-- post内容会在这里 -->
    %s


</body>
</html>